DATABASE_URL=
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
AUTH_COOKIE_NAME=basitanaliz_access_token
AUTH_COOKIE_SECURE=false
UPLOAD_DIR=uploads
MAX_UPLOAD_SIZE_MB=50
MAX_DATAFRAME_MEMORY_MB=200
